        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #E5E5E5;
            /* background-image: url(./images/Image\ 1.png);
            background-repeat: no-repeat;
            float: left; */
            /* width: 878px;
            height: 660px;
            margin-bottom: 127px;
            margin-right: 100px; */
        }
        
        .container {
            max-width: 1400px;
            margin: 0 auto;
        }
        
        nav a:first-child {
            color: black;
        }
        
        .line {
            border-top: 1px solid #C08D5D;
            width: 420px;
            padding-top: 137px;
        }
        
        .container_header {
            justify-content: space-between;
        }
        
        nav {
            display: inline-block;
        }
        
        .logo {
            display: inline-block;
        }
        
        .logo img {
            height: 58px;
            width: 25px;
            justify-content: center;
            height: 100%;
            /*не увеличиваеися расстояние сверху у каотинки*/
        }
        
        a {
            color: #C08D5D;
            text-decoration: none;
            margin-left: 40px;
            line-height: 120px;
            text-align: center;
            font-size: 25px;
        }
        
        a:hover {
            color: rgb(97, 60, 14);
        }
        
        footer {
            display: block;
        }
        
        .footer_images_1 {
            padding-left: 50%;
            padding-top: 5px;
            padding-bottom: 9px;
        }
        
        .footer_images_2 {
            padding-left: 50%;
        }
        
        .footer_images_3 {
            margin-left: 46%;
            /* когда ставлю 50%не ставится по середине мышка, поэтому подобрала 46%*/
        }
        
        .button {
            margin-top: 72px;
            margin-right: 406px;
            padding: 9px 0px 17px 15px;
            /*width: 138px;
            height: 64px; можно ли задавать высоту и длину у дисплей флекса display: flex;*/
            border: 1px solid #C08D5D;
            height: 64px;
            background-color: #E5E5E5;
            color: #3F4042;
            font-size: 20px;
            text-align: center;
        }
        
        .button::after {
            content: '>';
            display: inline-block;
            height: 49px;
            width: 59px;
            margin-left: 10px;
            background-color: #C08D5D;
            line-height: 40px;
            /*по центру в длину*/
            color: white;
            text-align: center;
            /*в ширину по середине выровнять*/
        }
        
        .button:hover {
            border: 1px solid #454341;
            color: #050505;
        }
        
        .image {
            float: right;
            width: 878px;
            height: 660px;
            margin-bottom: 127px;
        }
        
        .h1 {
            font-weight: 800;
            float: left;
            font-family: 'Yeseva One';
            padding-right: 22px;
            font-size: 50px;
            padding-bottom: 7px;
            line-height: 58px;
            color: #3F4042;
            letter-spacing: 0.06em;
        }
        
        .vector {
            display: block;
            width: 165px;
            height: 10px;
            padding-top: 45px;
            padding-bottom: 25px;
        }
        
        h1 {
            clear: left;
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: 400;
            font-size: 70px;
            line-height: 81px;
            letter-spacing: 0.06em;
            color: #3F4042;
        }
        
        .leaf {
            float: left;
        }
        
        .leaf img {
            width: 31px;
            height: 63px;
        }
        
        .text-center {
            display: block;
            width: 535px;
            height: 108px;
            font-family: 'Open Sans';
            font-size: 18px;
            padding-right: 67px;
        }