* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* position: 

relative (элемент остается в потоке, но можно изменить эти свойсва: top (10px- подвинется от верхего края),right,bottom, left, z-index); 

absolut: выпадает из потока

z-index- с прописанным position- уже положительный 
и он будет больше, чем у эоементов у которых не прописан position

z-index: целое число от -бесконечночть до +бесконечночть ;
и у кого больший z-index - тот  элемент накладывается сверху того, у кого меньще z-index
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
}

header,
footer {
    background-color: rgba(228, 146, 146, 0.959);
    padding: 20px 0;
}

main {
    padding: 180px 0 50px;
}

header {
    position: fixed;
    z-index: 10;
    text-align: center;
    /* выравнивание по центру горизонталь*/
    width: 100%;
    /* чтобы при скроле он стоял на месте по всей ширене своих родителей
    +прописать z-index- чтобы перекрыал все элементы и были невидимые   */
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
}

h2 {
    color: rgb(185, 109, 17)
}

#last-link {
    color: rgb(248, 78, 10);
}

p {
    font-size: 20px;
}

.service p {
    font-weight: bold;
    font-size: 30px
}

.service {
    background-color: #d39e9e35;
    color: #e9bdbd;
    padding: 20px;
    position: relative;
    /*элемент остается в потоке , но появляются новые свойсва:top,right,left,bottom, z-index .Эти свойсва позволяют двигать его относительно его прежнего места */
    top: 30px;
    left: 50px;
    z-index: -1;
}

.service a {
    color: #f7eaea;
}

.team {
    background-color: rgba(255, 119, 237, 0.353);
    padding: 10px;
    position: relative;
}

.flower {
    position: absolute;
    /*элемент не остается в потоке- он выпадает из потока , но появляются новые свойсва:top,right,left,bottom, z-index: 1;*/

    /* надо задать родителю position: relative 
    или другое позиционированиие относительно которого будет  идти position: absolut */
    /* у родителя .team -указано position, поэтому .flower будет размещен относильно этого родитиля  */
    right: 20px;
    /* подвинули элемент на 20px  от правого окно класса team (section)*/
    top: 0;
}

.team button a {
    text-decoration: none;
    color: white;
}

.team button {
    position: fixed;
    /* зафиксированная кнопка , скролим- и она всегда остается на том самом месте экрана */
    bottom: 80px;
    right: 10px;
    border: none;
    padding: 20px 40px;
    background-color: rgba(77, 74, 74, 0.96);
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


/* Практический пример: размещение всплывающего окна по центру экрана 
разметиили popap (.sale) всплывающее окошко в центре экрана
для этого используем 'position: fixed;;
+ кнопка закрытия в правом верхнем углу */
.sale {
    position: fixed;
    /*  это фиксированное позициорнированние,элемент выпадает из потока
    он позиционируется от окна браузера
    скролим и он там и остается  */
    /*
    1. расположение в %*/

    top: 50%;
    /* - от верхней границы экрана размещен обьект  */
    left: 50%;
    /* - от левой границы экрана размещен обьект 
    
    когда мы используем такое размещение, но с сердедины экрана начинается правый верхний угол popapa, для того, чтобы середина poppapa была в серединке экрана ипользуем trasform -он подвигает исходя размера poppapa */


    /* 2. расположение в vh
     50vh - это 50% от высоты/ ширины браузера 


    3.Иначе, когда задана высота содержимого 
    margin-top: -100px;
    margin-left: -170px;

    4. расположение по иначе по оси x, и y
    ниже по двум осям указано как двигается обькт 
    translate(x, y)
    ось х- слева направо
    ось у - сверху вниз
    
    % - не от родителей, а от самого обькта, 
    можно задавть в px*/
    transform: translate(-50%, -50%);
    /* тут обьект по оси х двигается влево на половину своей ширины и вверх*/

    /*размещение коробки по центру экрана, 
    + от левого верхнего экрана вправо (верхний левый угол это 0),  
    -(значение минус) от правого нижнего экрана; 
    что мы тут сделали - на половину вправо и на половину вврех разместили коробку
    и нам точно посередине экрана разметили коробку
    */


    box-shadow: 5px 4px 10px rgb(2, 13, 65);
    /*тень у коробки падает*/
    /* 1)расположение  тени по х- вправо сдвигается на 5 px
     2) вниз сдвигается  на 4 px
     3) размытие тени 10px*/

    /* если тень во все стороны без здвига, то координаты нулевые первые два
     0px 0px 10px*/

    background-color: yellow;
    padding: 20px;
    width: 350px;
}

.sale button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}


/* position stiky */
.left{
display: inline-block;
width: 60%;
}

.right{
    width: 30%;
}