* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
}

header,
footer {
    background-color: rgba(228, 146, 146, 0.959);
    padding: 20px 0;
}

main {
    padding: 180px 0 50px;
}

header {
    position: fixed;
    z-index: 10;
    text-align: center;
    width: 100%;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
}

h2 {
    color: rgb(185, 109, 17)
}

#last-link {
    color: rgb(248, 78, 10);
}

p {
    font-size: 20px;
}

.service p {
    font-weight: bold;
    font-size: 30px
}

.service {
    background-color: #d39e9e35;
    color: #e9bdbd;
    padding: 20px;
    position: relative;
    /*элемент остается в потоке , но появляются новые свойсва:top,right,left,bottom, z-index .Эти свойсва позволяют двигать его относительно его прежнего места */
    top: 30px;
    left: 50px;
    z-index: -1;
}

.service a {
    color: #f7eaea;
}

.team {
    background-color: rgba(255, 119, 237, 0.353);
    padding: 10px;
    position: relative;
}

.flower {
    position: absolute;
    /*элемент не остается в потоке- он выпадает из потока , но появляются новые свойсва:top,right,left,bottom, z-index 
    top: 30px;
    left: 50px;*/
    right: 20px;
    top: 0;
}

.team button a {
    text-decoration: none;
    color: white;
}

.team button {
    position: fixed;
    bottom: 80px;
    right: 10px;
    border: none;
    padding: 20px 40px;
    background-color: rgba(77, 74, 74, 0.96);
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.sale {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: yellow;
    padding: 20px;
    width: 350px;
    /*margin-top: -100px;
    margin-left: -170px;*/
    transform: translate(-50%, -50%);
    /*размещение коробки по центру экрана, 
    + от левого верхнего экрана, 
    -(значение минус) от правого нижнего экрана; 
    что мы тут сделали - на половину вправо и на половину вврех разместили коробку
    и нам точно посередине экрана разметили коробку*/
    box-shadow: 5px 5px 5px 0px rgb(2, 13, 65);
    /*тень у коробки падает*/
}

.sale button {
    position: absolute;
    /*можно сделать так  расподожение кнопки 
    top: 5px;
    right: 5px; */
    /* 2. вариант 
    через трансформ  кнопку за пределы .sale (блока popap)*/
    top: 0px;
    right: 0px;
    /* половина кнопки наружи */
    transform: translate(50%, -50%);
    /* верх - минус, вниз + */
    background-color: red;
    color: white;
    padding: 5px 10px;
    /*
    3.вариант - через position, когда известна ширина и высота
    with: 50px;
    height: 30px; 
    top:-15px половина кнопки наружи
    rigtht: -15px*/
}
