        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            display: flex;
            /* margin: auto; */
            justify-content: center;
            align-items: center;
        }
        
        a {
            text-decoration: none;
            color: black;
            font-weight: 100;
            margin: auto;
        }
        
        .button {
            display: inline-block;
            background-color: aqua;
            line-height: 40px;
            text-align: center;
        }
        
        .button:after {
            content: '>';
            display: inline-block;
            height: 44px;
            width: 20px;
            margin-left: 10px;
            background-color: rgb(40, 146, 146);
            line-height: 40px;
            /*по центру в длину*/
            color: white;
            text-align: center;
            /*в ширину по середине выровнять*/
        }