* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #39c4d39e;
    margin: auto;
    max-width: 1500px;
    color: #fff;
    font-family: 'Play', sans-serif;
}

.container {
    position: relative;
}

.cloud {
    position: relative;
    padding-top: 104px;
    z-index: -2;
}

.text {
    position: relative;
    max-width: 900px;
    margin: auto;
    background-color: #0E497EB2;
}

.p_1 {
    padding: 0 79px 26px 78px;
}

.p_2 {
    padding: 0 79px 26px 78px;
}

.p_3 {
    padding: 0 79px 36px 78px;
}

h1 {
    font-size: 46px;
    padding: 99px 0 24px 78px;
}

h2 {
    font-size: 32px;
    padding: 0 0 51px 78px;
}

p {
    font-size: 20px;
}

.cloud_left {
    position: absolute;
    left: 101px;
    top: 288px;
    z-index: -1;
}

.cloud_right {
    position: absolute;
    right: 178px;
    top: 46px;
    z-index: 1;
}

.cloud_down {
    position: absolute;
    right: 100px;
    top: 383px;
    z-index: -1;
}

.birds {
    display: flex;
    padding-top: 51px;
    padding-bottom: 44px;
    padding-right: 10px;
}

.birds_1 {
    padding-left: 78px;
}

.grass {
    width: 100%;
    margin-top: -79px;
    background-image: url(../images/grass.svg);
    background-repeat: repeat;
}