* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 300px;
    /* text-align: left; */
}

h1 {
    color: brown;
    font-weight: 900;
    margin-top: 50px;
}

h2 {
    color: black;
    padding: 10px 10px;
    font-weight: normal;
}


a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 12px;
    letter-spacing: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

p {
    padding: 10px;
    font-size: 15px;
    color: rgb(81, 80, 80);
    
}