 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-image: url(./img/cat.png);
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-size: cover;
     font-size: 10px;
 }

 main {
     padding: 30px;
     width: 40%;
 }

 h1 {
     font-size: 20px;
     margin-bottom: 10px;
 }

 h2 {
     font-size: 15px;
     font-weight: 700;
     background-image: linear-gradient(to top, rgba(81, 17, 17, 0.64), rgba(0, 0, 0, 0.272));
     padding: 10px;
     margin: 10px 0;
 }

 /*  background-position: center; 
    можно указывать в % px, 
     как моя картинка будет расположена 
  background-size: cover; 
 размер картинки - 
    можно в % - то только считается в ширину 
    cover- залить весь фон без повторений и пустых мест*/