*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.popup{
    /* cursor: pointer; */
    /* чтобы появлялся в этом месте  */
    /* сначала располодение display, position */
    /* а потом как он  */
    position: absolute; 
    top: 20px;
    left: 0;
    background: aqua;
    padding: 20px;
    display: none;
    }

.popup.visible {
    display: block;
}