* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
}

li:hover {
    background-color: rgb(60, 6, 6);
}

nav {
    background-color: red;
}