* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(17, 7, 45, 0.636);
}

.container {
    overflow: auto;
    max-width: 1100px;
    margin: auto;
}

.logo {
    float: left;
}

img {
    width: 60px;
    margin: 10px 10px 10px 0px;
}

nav {
    float: right;
    margin-top: 25px;
}

header nav li {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: rgb(248, 246, 243);
    margin-left: 8px;
}

footer {
    background-color: rgba(17, 7, 45, 0.636);
}

.footer {
    margin: auto;
    max-width: 1100px;
    height: 80px;
}

footer a {
    display: inline-block;
    float: right;
    /*почему подчеркивается?*/
    text-decoration: none;
    color: rgb(224, 226, 227);
    font-size: 12px;
    padding-top: 20px;
    /*не могу сделать margin, не знаю почему, поэтому применила padding*/
}

.container_2 {
    background-color: rgb(204, 204, 201);
    padding: 80px;
}

.mein {
    overflow: auto;
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-size: 40px;
    color: rgb(81, 80, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 0px 10px 0px;
}

.text_1 {
    font-size: 15px;
    color: rgb(81, 80, 80);
    padding-bottom: 30px;
}

.button {
    display: flex;
    border: 1px solid rgb(58, 57, 57);
    border-radius: 15px;
    background-color: rgb(58, 57, 57);
    color: white;
    text-decoration: none;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgba(17, 7, 45, 0.321);
}

.mein_2 {
    overflow: auto;
    max-width: 1100px;
    margin: auto;
}

.text_2 {
    font-size: 15px;
    color: rgb(69, 68, 68);
    margin: 40px 0px 20px 0px;
}

.mein_2 img {
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0px;
}