/* transfotm - изменять */

/* 1. масштабирование - ЧАСТО ИСПОЛЬЗУЕТСЯ
transform:scale();  - размер изменяет, это функция(параметр - во сколько раз мы маштабируем обьект) 
 transform:scale(1.5) - увеличиваем в полтора раза;
  transform:scale(2) - увеличиваем в два раза;
  
   transform:scale(0.5) - уменьшаем в 2  раза меньше;
   
   
   
   2.  поворот - ЧАСТО ИСПОЛЬЗУЕТСЯ
   transform: rotate(deg)   - повернись во втолько -то градусов по часовой стрелке;
   transform: rotate(-deg)  - минус - против часовой стрелки

   3.  перемещение - ЧАСТО ИСПОЛЬЗУЕТСЯ
   transform: translate(px, %)  - по оси Y и по оси X
   обьект можно сдвинуть куда-то в %(от ширины этого элемента) или px 
   для анимации движений используется

   сместись по оси Y на 7px - вниз 
    transform: translate(7px);

   4. наклон
   transform: skew(deg);
  transform: skewY(20deg) / skewX(deg); это наклон по опреденной оси - X  или Y
   не популярная, можно сделать ромб из квадрата, наклонить его

   5. скорость
   transition: .5s; для всех время перехода  за пол секунды, 0.5- миллисекунды
      transition: bagraund-color .5s;
    только на bagraund-color  идет изменение
   */