* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 15px 0px 15px 10px;
    font-size: 20px;
    background-color: gray;
    color: rgb(235, 239, 239);
    text-align: center;
}

button::after {
    content: ">";
    padding: 15px 25px 15px 15px;
    color: rgb(5, 90, 90);
    background-color: rgb(236, 231, 231);
}

button:hover {
    background-color: rgb(46, 43, 43);
    color: aliceblue;
}

button:active {
    background-color: rgb(191, 23, 93);
}